.projects {
    padding: 128px 0px;
}

.row--flex {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 79px;
}

.projects__title {
    width: 52%;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    color: #282938;
}

.projects__btn {
    width: 10%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #282938;
}

.projects__btn i {
    margin-left: 16px;
}

.projects__focus {
    position: relative;
}

.projects__focus img {
    display: block;
    height: 100%;
    width: 100%;
}

.projects__focus_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 79px;
    box-sizing: border-box;
}

.projects__focus_overlay h2 {
    width: 313px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.projects__focus_overlay p {
    width: 310px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 40px;
}

.projects__focus_overlay a {
    width: 312px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FCD980;
}

.projects__focus_overlay i {
    margin-left: 16px;
}

.projects__extra_one {
    position: relative;
    margin-bottom: 20px;
}

.projects__extra_one img {
    display: block;
    width: 100%;
    height: 100%;
}

.projects__extra_one_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 49px 56px;
    box-sizing: border-box;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;

}

.projects__extra_one_overlay h2 {
    width: 213px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.projects__extra_one_overlay a {
    width: 312px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FCD980;
}

.projects__extra_one_overlay i {
    margin-left: 16px;
}

.projects__extra_one:hover .projects__extra_one_overlay {
    width: 100%;
    opacity: 1;
}

.projects__extra_two {
    position: relative;
    margin-bottom: 20px;
}

.projects__extra_two img {
    display: block;
    width: 100%;
    height: 100%;
}

.projects__extra_two_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 49px 56px;
    box-sizing: border-box;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;

}

.projects__extra_two_overlay h2 {
    width: 213px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.projects__extra_two_overlay a {
    width: 312px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FCD980;
}

.projects__extra_two_overlay i {
    margin-left: 16px;
}

.projects__extra_two:hover .projects__extra_two_overlay {
    width: 100%;
    opacity: 1;
}