nav{
    background: #1C1E53;
    padding: 20px 0;
}
nav .space-between{
    align-items: center;
} 
nav .menu{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #BBBBCB;
    margin-left: 30px;
    transition: .4s ease-in-out all;
    -webkit-transition: .4s ease-in-out all;
    -moz-transition: .4s ease-in-out all;
    -ms-transition: .4s ease-in-out all;
    -o-transition: .4s ease-in-out all;
}
nav ul li a:hover{
    color: #ffffff;
}
nav .menu .button{
    margin-left: 50px;
}
nav .menu .button a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    background: transparent;
    margin-left: 30px;
    border: 2px solid #f4f6fc33;
    border-radius: 41px;
    padding: 16px 45px !important;
    transition: .4s all ease-in-out;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
    
}
nav .menu .button a:hover{
    background: #f4f6fc33;
    color: #FCD980;
}
nav .button{
    text-align: center;
}
nav .button a {
    display: inline-block;
    width: 220px;
    background: #282938;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}