.contact {
    padding: 0px 0px;
}

.contact__content {
    position: relative;
    width: 51%;
}

.contact__content img {
    width: 100%;
    height: 100%;
    display: block;
}

.contact__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(28, 30, 83, 0.5);
    padding: 96px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.contact__overlay h2 {

    font-size: 54px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.contact__overlay p {

    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.contact__form {
    width: 49%;
    background-color: #1C1E53;
    padding: 96px;
    box-sizing: border-box;
    text-align: center;
}

.contact__form h2 {

    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
}

.contact__form p {

    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 40px;
}

.contact__form input {
    padding: 18px 32px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(255, 255, 255, 5%);
    display: inline-block;
    width: 432px;
    margin-bottom: 16px;
    color: #F4F6FC;
}

.contact__form input::placeholder {

    font-size: 16px;
    font-weight: 400;
    color: #F4F6FC;
}

.contact__form button {

    font-size: 18px;
    font-weight: 600;
    width: 432px;
    text-align: center;
    background-color: #FCD980;
    padding: 16px 0px;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    margin-top: 16px;
    margin-bottom: 48px;
}

.contact__form a {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.contact__form i {
    margin-left: 16px;
}
